.card {
  border: 1px solid rgb(245, 8, 8);
  border-radius: 4px;
  margin-top: 15px;
}

.card-body {
  display: flex;
  padding: 15px;
}

h3 {
  font-size: 32px;
}

img {
  max-height: 200px;
}

.meta-info {
  color: grey;
  margin-top: -28px;
  font-size: 14px;
}

.continue-reading {
  font-style: italic;
  color: grey;
}

.article {
  max-width: 720px;
  margin: 0 auto;
}

.article-image {
  text-align: center;
}

.title {
  font-size: 57px;
}
p {
  line-height: 1.5em;
  font-size: 21px;
}
