<header>
  <div class="title">
    <a routerLink="">Blogpost</a>
  </div>
  <nav class="navbar">
    <div class="dropdown">
      <div class="nav-item">Categories</div>
      <div class="dropdown-content">
        <a href="/electronics">Electronics</a>
        <a href="/men">Men</a>
        <a href="/women">Women</a>
        <a href="/home_apll">Home Appliances</a>

      </div>
    </div>
    <a routerLink="/articles" class="nav-item">Articles</a>
   <!-- <a routerLink="/views" class="nav-item">Add articles</a>-->
   
    <a routerLink="/user_register" class="nav-item">Sign up</a>



    <a routerLink="/about" class="nav-item">About</a>
  </nav>
</header>