<form #addressForm="ngForm" class="container mt-3" (ngSubmit)="logValue()">
  <div class="row justify-content-center">
    <div class="col-6">
      <button type="button" class="btn btn-primary mb-2" (click)="addAddress()">Add Article</button>
      <section class="container border mb-4 p-3" *ngFor="let address of addresses; let i = index;">
        <div class="row">
          <div class="col-6">
            <h4>Article {{i + 1}}</h4>
          </div>
          <div class="col-6 text-center">
            <button type="button" class="btn btn-danger btn-sm" (click)="removeAddress(i)">Remove</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Article name:</label>
              <input type="text" class="form-control" [(ngModel)]="address.address" name="address_{{address.id}}"
                placeholder="Enter article name here" />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Date:</label>
              <input type="date" class="form-control" [(ngModel)]="address.street" name="street_{{address.id}}" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Author name:</label>
              <input type="text" class="form-control" [(ngModel)]="address.city" name="city_{{address.id}}"
                placeholder="enter your name" />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Content</label>
              <input type="text" class="form-control" [(ngModel)]="address.country" name="country_{{address.id}}"
                placeholder="Your content">


            </div>
          </div>
        </div>
      </section>

      <div class="text-right">
        <input type="submit" class="btn btn-success" value="Submit" />
      </div>

    </div>
  </div>

</form>