<html>
  <body>
    <div class="heading">
      <h1><u>Because of Maths</u></h1>
    </div>
    <div class="img">
      <img src="https://i.pinimg.com/originals/fd/d6/46/fdd646896730d5e980851e468f5e25ed.jpg" />
    </div>
    <div>
      <h2>
        Welcome to our website where, you can browse through a variety of product ranges! Affordable prices and offers available! Enjoy shopping!

      </h2>
    </div>
    <div class="card-body">
      <ul>
        <p>
          <li>Visit our product ranges and go through them to have a nice time!</li>
        </p>
        <p>
          <li>
            you can provide us with suggestions on how to improve the
            functionality of our site!
          </li>
        </p>
        <p>
          <li>
            Sell your products effortlessly Visit the vendor's portal to register and start selling
          </li>
        </p>
        <p>
          <li>
            Provide as much as you want your privacy completely in your hands!
          </li>
        </p>
      </ul>
    </div>
    <div class="comm">REMEMBER IT'S NOT YOUR SITE IT'S <u> <a href="https://www.marxists.org/archive/marx/works/1848/communist-manifesto/ch01.htm">OUR</a></u> SITE!</div>
  </body>
</html>
